body{
	background: black;
	width:100%; 

	color: #fff;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
}

.boid {
	position: absolute;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	background-color: gray;
	border-radius: 50% 50%;

}


#sun{
	margin-top: 90px;
	margin-left:-90px;
	position:absolute;
}
#mercury{
	position:absolute;
	margin-left:100px;
	height:45px;
	width:60px;
}
#mercury-orbit{
	position:absolute;
	margin-top:105px;
	margin-left:55px;
	width:550px;
	height:550px;
	border:1px dotted black;
	border-radius:100%;
	-webkit-animation:spin 15s linear infinite;
	animation:spin 15s linear infinite;	
}
#venus{
	position:absolute;
	margin-left:100px;
	height:55px;
	width:70px;
}
#venus-orbit{
	position:absolute;
	margin-top:50px;
	margin-left:10px;
	width:700px;
	height:700px;
	border:1px dotted black;
	border-radius:100%;
	-webkit-animation:spin 37s linear infinite;
	animation:spin 37s linear infinite;	
}

#earth{
	position:absolute;
	margin-left:90px;
	height:50px;
	width:50px;
}
#earth-orbit{
	position:absolute;
	margin-top:-20px;
	margin-left:-100px;
	width:900px;
	height:900px;
	border:1px dotted black;
	border-radius:100%;
	-webkit-animation:spin 60s linear infinite;
	animation:spin 60s linear infinite;	
}
#moon{
	width:10px;
	height:10px;
	border-radius:100%;
	background:white;
	position:absolute;
	margin-left:70px;
	
}
#moon-orbit{
	width:100px;
	height:100px;
	border-radius:100%;
	border:1px dotted black;
	margin-left:75px;
	margin-top:-25px;
	-webkit-animation:spin 5s linear infinite;
	animation:spin 5s linear infinite;
}

#mars{
	position:absolute;
	margin-left:100px;
	height:80px;
	width:107px;
}
#mars-orbit{
	position:absolute;
	margin-top:-170px;
	margin-left:-200px;
	width:1200px;
	height:1200px;
	border:1px dotted black;
	border-radius:100%;
	-webkit-animation:spin 113s linear infinite;
	animation:spin 113s linear infinite;	
}


@-webkit-keyframes spin{
100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
}
}
@keyframes spin{
100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
}
